<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .button-container {
            display: flex;
            justify-content: space-around; /* Равномерно распределяем кнопки */
        }
    </style>
</head>
<body>
<h2>User List</h2>

<table >
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>>
        <td>
            <div class="button-container">
                <form th:action="@{delete/{id}(id=${user.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/add}" class="btn btn-success">Add User</a>

<div class="logout-container">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

</body>
</html>